.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 1;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #2d81ff;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #0267fd;
}

#map {
    width: 100%;
    height: 700px;
    z-index: -10;
}

#footer{
    background-color: #FFFFFF7F;
    text-align: center;

}

#header{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#menu{
    width: 100%;
    height: 20%;
    text-align: center;
}

form {
    display:inline;
}

.alert {

    position: absolute;
    top: 25%;
    right: 0;
}